[submodule "lib/LilyGo-LoRa-Series"]
	path = lib/LilyGo-LoRa-Series
	url = https://github.com/Xinyuan-LilyGO/LilyGo-LoRa-Series.git
[submodule "lib/U8g2"]
	path = lib/U8g2
	url = https://github.com/Xinyuan-LilyGO/LilyGo-LoRa-Series.git
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib.git
[submodule "lib/XPowersLib"]
	path = lib/XPowersLib
	url = https://github.com/Xinyuan-LilyGO/LilyGo-LoRa-Series.git
