# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# debug information files
*.dwo

# PlatformIO
.pio/

# Ignore common unwanted files in lib/, but allow submodules and folders
lib/*.a
lib/*.o
lib/*.obj
lib/*.so
lib/*.dll
lib/*.dylib
lib/*.exe
lib/*.out
lib/*.app
lib/*.elf
lib/*.d
lib/*.lo
lib/*.slo
lib/*.gch
lib/*.pch
lib/*.mod
lib/*.smod
lib/*.lai
lib/*.la
lib/*.lib
lib/*.pdb
lib/*.ilk
lib/*.dwo

# Allow all folders and submodules in lib/
!lib/
!lib/**/
!lib/**/.git
!lib/**/.gitmodules
!.gitmodules

# VS Code
.vscode/

# macOS
.DS_Store

# project specific
build_log.txt
RadioLib_OTAA.ino
src/keys.h
src/notes.md